@media(-webkit-min-device-pixel-ratio: 1) {
	.f_logoLeft{background-image:url(../skin_img/hedaer-logo-foodpex.png);}
}

body{
	position: relative;
	background: rgb(240, 240, 240);
}
.f_container{
	position: relative;
	width:995pt;
	min-height: 1200pt;
	margin:auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: #fff;
}
/*最上面的header（注册English）*/
.h_header{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 30pt;
	background: rgb(0, 47, 129);
}
.f_headerBtn{
	width:100pt;
	height: 30pt;
	float: right;
	line-height: 30pt;
}
.f_headerBtn>span{
	display: inline-block;
	width:47pt;
	line-height: 17pt;
	text-align: center;
	color: #fff;
	cursor:pointer;
}
.f_signUp{
	border-right: 1pt solid rgb(196, 196, 196);
}
.back{
	position: absolute;
	left:10pt;
	display: block;
	height: 30pt;
	line-height: 30pt;
	color: #fff;
	text-align: center;
}
/* 两个大logo层*/
.h_logo{
	width:985pt;
	height: 150pt;
	margin:0 auto;
	position: absolute;
	top:35pt;
	left:0;
	right:0;
}
.h_logoContanier{
	width:985pt;
	height: 130pt;
	margin:auto 0;
}
.f_logoLeft{
	width:460pt;
	height:130pt;
	background-image:url(../skin_img/hedaer-logo-foodpex@2x.png);
	background-repeat: no-repeat;
	background-size:460pt  130pt;
}
/*导航栏*/
.h_navbar{
	width:985pt;
	height: 40pt;
	background: rgb(229, 229, 229);
	position: absolute;
	top:185pt;
	margin:0 auto;
	left :0;
	right:0;
	box-shadow: 2px -7px 5px #ccc inset;
}
.h_navMain{
	width:685pt;
	height: 40pt;

}
.h_navMain>ul>li{
	float: left;
	font-family: "Verdana Bold"
	font-size:12pt;
	color:rgb(126, 126, 126);
	margin:0 15pt;
	line-height: 40pt;
	height: 40pt;
	text-align: center;
	cursor: pointer;
}
.f_navSearch{
	width:180pt;
	height: 24pt;
	float:right;
	border:1pt solid #ccc;
	position: relative;
	bottom:32pt;
	right:15pt;
	border-radius: 5pt;
	overflow: hidden;
}
.f_navSearch>div{
	float:left;
}
.f_searchImg{
	width:24pt;
	height: 24pt;
	border-right:1pt solid #ccc;
	position: relative;
	background: rgb(244, 244, 244);
	cursor: pointer;

}
.f_searchImg>img{
	width:10pt;
	height: 10pt;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
.f_searchMain{
	width:155pt;
	height: 24pt;
}
.h_article{
	width:995pt;
	height: 610pt;
	position: absolute;
	top:245pt;
	margin:0 auto;
	left :0;
	right:0;
}
.h_article>div{
	float:left;
	border:1pt solid rgb(223, 223, 223);	
	padding:15pt;
	margin-left:14pt;
	margin-top:15pt;
	box-shadow: 0 5px 10px #ccc;
}

/*大盒子的所有东西*/
.box_L{
	height: 325pt;
	width:445pt;
	position: relative;
}
.box_L>img{
	height: 100%;
	width:100%;
}
.L_icon{
	display: block;
	width:94pt;
	height: 24pt;
	background: rgb(0, 164, 105);
	color:#fff;
	font-weight:700;
	position: absolute;
	top:30pt;
	left:30pt;
	line-height: 24pt;
	text-align: center;
}
.L_text{
	width:415pt;
	height: 105pt;
	background: #fff;
	position: absolute;
	margin:0 auto;
	top:220pt;
	left:0;
	right:0;
	opacity: 0.9;
}
.L_text>h5{
	font-weight:700;
	color:black;
	margin:20pt 10pt;
}
.L_text>p{
	font-size: 11pt;
	color:black;
	margin:15pt 50pt 10pt 10pt;
	line-height: 15pt;
	color:rgb(87, 87, 87);
}
.L_more{
	font-weight:700;
}
/*中盒子的所有东西*/
.box_M{
	width: 200pt;
	height:325pt;
	position: relative;
}
.box_M>img{
	height: 100%;
	width:100%;
}
.M_icon{
	display: block;
	width:70pt;
	height: 24pt;
	line-height: 24pt;
	position: absolute;
	top: 30pt;
	left:30pt;
	background: rgb(0, 47, 129);
	color:#fff;
	text-align: center;
}
.M_text{
	width:170pt;
	height: 87pt;
	background: #fff;
	position: absolute;
	margin:0 auto;
	top:230pt;
	left:0;
	right:0;
	opacity: 0.9;

}
.M_text>h5{
	font-weight:700;
	color:black;
	margin:20pt 10pt;
}
.M_text>p{
	font-size: 11pt;
	color:black;
	margin:15pt 30pt 10pt 10pt;
	line-height: 15pt;
	color:rgb(87, 87, 87);
}
.M_more{
	font-weight:700;
}
/*小盒子的所有东西*/
.box_S{
	width:200pt;
	height:155pt;
	border:1pt solid rgb(223, 223, 223);
	position: relative;
}
.box_S>img{
	width:200pt;
	height: 90pt;
}
.S_text{
	width:200pt;
	height: 50pt;
}
.S_icon{
	display: block;
	width:70pt;
	height: 24pt;
	line-height: 24pt;
	position: absolute;
	top: 15pt;
	left:15pt;
	color:#fff;
	text-align: center;
}
.S_text>p{
	font-size: 11pt;
	color:black;
	margin:15pt 30pt 10pt 10pt;
	line-height: 15pt;
	color:rgb(87, 87, 87);
}
.S_more{
	font-weight:700;
}
.parentBox_S{
	height: 356pt;
	width:475pt;
	padding:0!important;
	border:none!important;
	box-shadow:none!important;
}
.parentBox_S>div{
	float:left;
	width:200pt;
	height: 140pt;
	margin-bottom:12pt;
	padding:15pt;	
	box-shadow: 0 5px 10px #ccc;
}
.box_index{
	margin-right: 12pt;
}
.lastBox_S{
	width: 990pt;
	height: 155pt;
	padding:0!important;
	border:none!important;
	box-shadow:none!important;
}
.lastBox_S>div{
	float:left;
	width:200pt;
	height: 140pt;
	padding:15pt;
	margin-right:14pt;
	box-shadow: 0 5px 10px #ccc;
}


/*footer*/
.h_footer{
	height: 146pt;
	width:985pt;
	background: rgb(245, 245, 245);
	position: absolute;
	margin:0 auto;
	left :0;
	right:0;
	top:1055pt;
	box-shadow: 0 5px 5px #ccc inset;
}
.footer_logo{
	width:985pt;
	height: 95pt;
	border-bottom:1pt solid #ccc;
}